body {
  font-family: "Monda", sans-serif;
  background: #c0c0c0;
}

.header {
  border: 1px solid black;
  color: blue;
}

.header .header__logo {
  opacity: 0.7;
  height: 100px;
}

.main {
  padding: 3px;
  margin: 10px;
}

.main .main__text {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  text-align: right;
}

.main .main__aside--red {
  background-color: red;
}

.footer {
  border: 2px solid blueviolet;
}

.fooetr .footer__copyright {
  background-image: url(../img/pattern.jpg);
}
