:root {
  --purple: #800380;
  --blue: #6060a3;
  --height: 250px;
  --margin: 0 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

section {
  background-color: var(--purple);
}

.inline_blocks > div,
.float_blocks > div,
.flex_blocks > div {
  border: 1px solid black;
  background-color: var(--blue);
  min-height: var(--height);
  margin: var(--margin);
}

div + aside {
  background-color: var(--purple);
  border: 1px solid black;
  margin: var(--margin);
  padding: 10px;
}

h1 {
  text-align: center;
  line-height: 70px;
}

span {
  margin-left: 40%;
  line-height: var(--height);
}

aside > h2 {
  margin-bottom: -8px;
}

/*.flex {
  display: flex;
  flex-direction: column;
}

.flex > aside {
  background-color: var(--purple);
  min-width: calc(100% - 40% - 10px);
}*/
